<div id="<%= dom_id agendamento %>">
  <p>
    <strong>Initatendimento:</strong>
    <%= agendamento.initAtendimento %>
  </p>

  <p>
    <strong>Fimatendimento:</strong>
    <%= agendamento.fimAtendimento %>
  </p>

</div>
